.top-nav{
	background-color:orange;
}

.navbar-collapse{
	width:50%;
	flex-basis: 70%;
    flex-grow: 1;
    align-items: center;
}

.social-links i{
			color: #fff;
			padding-left:20px;
			padding-right:20px;
}
/*.bg-danger{
	background-color:#000 !important;
}*/

.padding span{
	padding-right:2px;
	}
	
#facebook i{
	color:yellow;
	}